<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 style="color:white;"><b>SHIVANI JAIN</b></h2><br>
        <ul>
          <li><a href="/"><i class="fas fa-home"></i><h3><b>Home</b></h3></a></li>
          <li><a href="/about"><i class="fas fa-user"></i><h3><b>About</b></h3></a></li>
          <li><a href="/experience"><i class="fas fa-address-card"></i><h3><b>Experience</b></h3></a></li>
          <li><a href="/education"><i class="fas fa-project-diagram"></i><h3><b>Education</b></h3></a></li>
          <li><a href="/projects"><i class="fas fa-blog"></i><h3><b>Projects</b></h3></a></li>
          <li><a href="/skills"><i class="fas fa-address-book"></i><h3><b>Skills</b></h3></a></li>
          
          <li><a href="/contact"><i class="fas fa-map-pin"></i><h3><b>Contact</b></h3></a></li>
           
        </ul> 
        
    </div>
    <div class="main_content">
        
        <div class="info">
            
          <div><h1><b>Education & Certification</b></h1><br><br>
            <h4><b>Full Stack Development Certification Course, Guvi Zen Class(Feb 2020 - May 2020)</b></h4><br>
            <h5>a) Python, Java Script, Node.js, MongoDB, Sql, Angular, AWS Cloud</h5><br><br>
            

            <h4><b>Global Institute of Technology, Jaipur (2010-2014)</b></h4><br>
            <h4>Bachelor of Technology</h4><br>
            <h6>a) Global Institute of Technology is RTU affiliated. </h6><br>
            <h6>b) Completed Btech in Information Technology with 72%.  </h6><br><br>
            
            <h4><b>Veena Memorial Sr. Sec. School (2008-2010)</b></h4><br>
            <h4>XII Class</h4><br>
            <h6>a) Rajasthan Board of Secondary Education </h6><br>
            <h6>b) Got 69% in Senior Secondary Class.  </h6><br><br>

            <h4><b>St. Marys School (2006-2008)</b></h4><br>
            <h4>X Class</h4><br>
            <h6>a) Rajasthan Board of Secondary Education </h6><br>
            <h6>b) Got 73% in Secondary Class.  </h6><br>
       
     </div>
     <div></div>
      </div>
    </div>
</div>

 
</body>
</html>


