<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<!--<link rel="stylesheet" href="style.css">-->
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 style="color:white;"><b>SHIVANI JAIN</b></h2><br>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i><h3><b>Home</b></h3></a></li>
            <li><a href="/about"><i class="fas fa-user"></i><h3><b>About</b></h3></a></li>
            <li><a href="/experience"><i class="fas fa-address-card"></i><h3><b>Experience</b></h3></a></li>
            <li><a href="/education"><i class="fas fa-project-diagram"></i><h3><b>Education</b></h3></a></li>
            <li><a href="/projects"><i class="fas fa-blog"></i><h3><b>Projects</b></h3></a></li>
            <li><a href="/skills"><i class="fas fa-address-book"></i><h3><b>Skills</b></h3></a></li>
            
            <li><a href="/contact"><i class="fas fa-map-pin"></i><h3><b>Contact</b></h3></a></li>
           
        </ul> 
        
    </div>
    <div class="main_content">
        
        <div class="info">
            
          <div><h1><b>ABOUT ME</b></h1><br><br>
            <h4><b>Name</b>: Shivani Jain</h4><br>            
            <h4><b>DOB</b>: Jul 07, 1994</h4><br>
            <h4><b>Place</b>: Chennai</h4><br> 

            <h5>I born and brought up in Karauli, a small district 200 K.m. away from Jaipur, the Capital of Rajasthan. I completed my engineering in 2014 in Information Technology from Global Institute of Technology, Jaipur(Raj.). Last year, I got married and moved to Chennai with my husband.</h5><br>
            <h5>I have 3 years of teaching experience. After moving to Chennai, I wanted to restart my career and get into the corporate sector. Therefore, I decided to brush-up my skills and joined the Full Stack Development certification course. I have acquired the relevant skills and feel confident that I'll be able to help the company achieve business goals.</h5><br>
            <h5>In my Spare time, I like cooking and exploring new places.</h5>
       
     </div>
     <div></div>
      </div>
    </div>
</div>

 
</body>
</html>
