<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<!--<link rel="stylesheet" href="style.css">-->
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 style="color:white;"><b>SHIVANI JAIN</b></h2><br>
        <ul>
            <li><a href=""><i class="fas fa-home"></i><h3><b>Home</b></h3></a></li>
            <li><a href="about"><i class="fas fa-user"></i><h3><b>About</b></h3></a></li>
            <li><a href="experience"><i class="fas fa-address-card"></i><h3><b>Experience</b></h3></a></li>
            <li><a href="education"><i class="fas fa-project-diagram"></i><h3><b>Education</b></h3></a></li>
            <li><a href="projects"><i class="fas fa-blog"></i><h3><b>Projects</b></h3></a></li>
            <li><a href="skills"><i class="fas fa-address-book"></i><h3><b>Skills</b></h3></a></li>
            
            <li><a href="contact"><i class="fas fa-map-pin"></i><h3><b>Contact</b></h3></a></li>
           
        </ul> 
        
    </div>
    <div class="main_content">
        <!--<div class="header">Hello...I am Shivani Jain</div>  -->
        <div class="info">
            
          <div><h1><b>Experiences</b></h1><br><br>
            <h2><b>High School Mathematics Teacher</b></h2><br>
            <h4><i>Jaipur International School, Jaipur:- Jul’18 – Jan’19 </i></h4><br>
            <h6>a) Taught Mathematics to students from Class II to Class IX </h6><br>
            <h6>b) Planning & execution of co-curricular activities  </h6><br>
            <h6>c) Developed lesson plans for better understanding and continuous assessment </h6><br>
            
            <h4><i>Gems Public School, Jaipur   :-  Jul’17 – Apr’18 </i></h4><br>
            <h6>a) Taught Mathematics to students from Class VI to Class VIII (Board).  </h6><br>
            <h6>b) Delivered 100% result.   </h6><br>

            <h2><b>Summer Training</b></h2><br>
            <h4><i>Key Prompt Technology Pvt Ltd, Jaipur Jun’13 – Jul’13 </i></h4><br>
            <h6>a) Project: Development of Online Music Store using ASP.NET platform </h6><br>
            <h6>b) Technology used: HTML, CSS, C Sharp, Java Script, and SQL Server  </h6><br>
            <h6>c) Modules Developed: User Panel, Login, Sign-up, Admin Panel, and Purchase Module </h6><br>

            <h2><b>Academic Projects</b></h2><br>
            <h4><i>SMS Based Student Intimation Application (Aug’13 – Dec’13) </i></h4><br>
            <h6>a) Developed an application which can be used to update result, send notifications, store student details, send parental alert, and student enrolment. </h6><br>
            <h6>b) Technology used: ASP.NET and SQL Server  </h6><br>

            <h4><i>Hospital Management System (Jan’14 – May’14) </i></h4><br>
            <h6>a) B. Tech dissertation. Designed Hospital Management System which can replace existing manual and paper-based processes in a hospital. </h6><br>
            <h6>b) Technology used: Technology Used: ASP.NET 2.0, C#, SQL Server, IIS, Windows XP. </h6><br>
            <h6>c) Modules Developed: Patient Registration, Reception, Pharmacy, Laboratory, and Admin. </h6><br>


            
            
            
       
     </div>
     <div></div>
      </div>
    </div>
</div>

 
</body>
</html>


