<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 style="color:white;"><b>SHIVANI JAIN</b></h2><br>
        <ul>
            <li><a routerLink="/"><i class="fas fa-home"></i><h3><b>Home</b></h3></a></li>
            <li><a routerLink="/about"><i class="fas fa-user"></i><h3><b>About</b></h3></a></li>
            <li><a routerLink="/experience"><i class="fas fa-address-card"></i><h3><b>Experience</b></h3></a></li>
            <li><a routerLink="/education"><i class="fas fa-project-diagram"></i><h3><b>Education</b></h3></a></li>
            <li><a routerLink="/projects"><i class="fas fa-blog"></i><h3><b>Projects</b></h3></a></li>
            <li><a routerLink="/skills"><i class="fas fa-address-book"></i><h3><b>Skills</b></h3></a></li>
           
            <li><a routerLink="/contact"><i class="fas fa-map-pin"></i><h3><b>Contact</b></h3></a></li>
            
        </ul> 
        
    </div>
    <div class="main_content">
       
        <div class="info">
            
          <div><h1><b>Projects</b></h1><br><br>
            
            
           <h4><b>URL Shortener App</b></h4><br>
           <h6>Technology: Angular, Node.js, MongoDB </h6><br>
          <h6>Project Github Link:- <a href="https://github.com/shivijain93/urlshortner_angular"> Angular- URL Sortener</a></h6>
          <h6>Project Githu Link:- <a href="https://github.com/shivijain93/node.js_urlshort"> Angular- URL Sortener</a></h6>
           <br><br>
           <h4><b>Github Clone</b></h4><br>
            <h6>Technology: Angular, Bootstrap </h6><br>
            <h6>Project Netlify Link:- <a href="https://shivanijain-get-github-repo.netlify.app/">Github-Clone</a></h6>
           <h6>Project Github Link:- <a href="https://github.com/shivijain93/github-clone">Github-Clone</a></h6>
           
           
            <br><br>
          <h4><b>Node_js Product App</b></h4><br>
          <h6>Technology: Node_js, HTML, Java-Script </h6><br>
         <h6>Project Github Link:- <a href="https://github.com/shivijain93/guvi/tree/master/ProductApp">Node_js Product App</a></h6>
         <br><br>
         <h4><b>E-Commerce App</b></h4><br>
            <h6>Technology: Angular, Bootstrap </h6><br>
           <h6>Project Github Link:- <a href="https://github.com/shivijain93/guvi/tree/master/Angular/shopping_app">Angular- E-Commerce App</a></h6>
          
     </div>
     <div></div>
      </div>
    </div>
</div>

 
</body>
</html>


