<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<!--<link rel="stylesheet" href="style.css">-->
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2 style="color:white;"><b>SHIVANI JAIN</b></h2><br>
            <ul>
                <li><a routerLink=""><i class="fas fa-home"></i><h3><b>Home</b></h3></a></li>
            <li><a routerLink="about"><i class="fas fa-user"></i><h3><b>About</b></h3></a></li>
            <li><a routerLink="experience"><i class="fas fa-address-card"></i><h3><b>Experience</b></h3></a></li>
            <li><a routerLink="education"><i class="fas fa-project-diagram"></i><h3><b>Education</b></h3></a></li>
            <li><a routerLink="projects"><i class="fas fa-blog"></i><h3><b>Projects</b></h3></a></li>
            <li><a routerLink="skills"><i class="fas fa-address-book"></i><h3><b>Skills</b></h3></a></li>
           
            <li><a routerLink="contact"><i class="fas fa-map-pin"></i><h3><b>Contact</b></h3></a></li>
            
        </ul> 
        
        </div>
    <div class="main_content">
        <!--<div class="header">Hello...I am Shivani Jain</div>  -->
        <div class="info">
            <!--<img src="shividp.PNG" class="center" >
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>-->
          <div><h1><b>Shivani Jain</b></h1><br>
        <h3><i>Excited to be at the deployment phase of my career as a full stack developer</i></h3><br>
     </div>
      </div>
    </div>
</div>

 
</body>
</html>
